@inherits System.Web.Mvc.WebViewPage
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.0.8/semantic.min.css" />
</head>
<body>
    <div class="ui raised segment" style="margin-top:10%; width:25%; margin-left:auto; margin-right:auto;">
        <form class="ui form" method="post">
            <h2 class="ui header">
                <i class="settings icon"></i>
                <div class="content">
                    Login
                    <div class="sub header">Manage content</div>
                </div>
            </h2>
            <div class="field">
                <label>Email</label>
                <input type="text" name="UserName" placeholder="email" value="@(ViewBag.username)">
            </div>
            <div class="field">
                <label>Password</label>
                <input type="password" name="Password" placeholder="password">
            </div>
            @if (ViewBag.error != null)
            {
                <div class="ui negative message">
                    <p>
                       @ViewBag.error
                    </p>
                </div>
            }
            <button class="ui button " type="submit">Login</button>
            </form>
            </div>

        </body>
    </html>
